@import "../../styles/variables.scss";

.input {
  width: 100%;
  height: 40px;
  background-color: $white;
  border-radius: 100px;
  border: 1px solid $grey-light;
  padding: 10px 20px;
  color: $grey-middle;
  @include fontSize(0.75, 500);

  &:focus {
    border-color: $main;
    &::placeholder {
      color: transparent;
    }
  }
}

.inputWrapper {
  position: relative;
}

.error {
  border: 1px solid red;
}

.errorText {
  position: absolute;
  top: -15px;
  left: 15px;
  font-size: 10px;
  color: red;
}
