@import "../../styles/variables.scss";

.ticket {
  background-color: $white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 8px 16px $box-shadow;
  text-align: center;
  height: 80px;
  overflow: hidden;
  transition: height $anim-fast;
  max-width: $max-width;
  margin: 85px 20px 20px 20px;
  @include break("mobile") {
    margin: 85px auto 20px auto;
  }
  button {
    opacity: 0;
    visibility: hidden;
    height: 0;
    transition: height $anim-fast, opacity $anim-fast, visibility $anim-fast;
  }
}

.open {
  height: 120px;

  button {
    opacity: 1;
    visibility: visible;
    height: 28px;
    transition: opacity 0.5s;
  }
}
