@import "../../styles/variables.scss";

.btn {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  @include fontSize(0.75, 400);
}

.icon {
  display: block;
  width: 20px;
  height: 14px;
}

.primary {
  color: $gris-oscuro;
  display: block;
}

.secondary {
  background-color: $color-principal;
  color: $blanco;
  padding: 5px 15px;
  border-radius: 3px;
  margin-top: 15px;
}
