@function calculateRem($size) {
  $remSize: $size % 16;
  @return #{$remSize}rem;
}

@mixin fontSize($size, $weight) {
  font-size: $size * 16px; //Fallback in px
  font-size: calculateRem($size);
  font-weight: $weight;
}

@font-face {
  font-family: "Poppins";
  src: url(../public/font/Poppins-Regular.ttf);
}

$breakpoints: (
  "mobile": (
    min-width: 700px,
  ),
  "desktop": (
    min-width: 1100px,
  ),
) !default;
@mixin break($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  } @else {
    @warn "Value `#{$breakpoint}` couldn't be recognized. Breakpoints are: #{map-keys($breakpoints)}.";
  }
}

$grey-dark: #2e2e2e;
$grey: #e5e5e5;
$grey-light: #f4f4f4;
$grey-middle: #878787;
$white: #ffffff;
$box-shadow: rgba(110, 120, 130, 0.12);
$main: #d00170;
$main-shadow: #d0017d21;

$anim-low: 0.75s;
$anim-fast: 0.25s;

$max-width: 660px;
